<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Aggregate</h1>
{{#aggregate}}
    <li style="font-size: 20px;">Male: {{male}}</li>
    <li style="font-size: 20px;">Female: {{female}}</li>
    <div style="margin: auto; padding-bottom: 20px;">
        <ul style="margin-top: 10px;">
        </ul>
    </div>
{{/aggregate}}
</body>
</html>